# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# Pytest cache
.pytest_cache/

# IDEs
.vscode/
.idea/

# MacOS
*/.DS_Store

# Jupyter
.ipynb_checkpoints/

# Distribution / packaging
*.egg-info/
dist/
build/
